
#header, .nav-container, #footer, #right_fixed_menu, #left_side, .path, #myshopMain .shopMain, .xans-mall-company, .xans-photoreview-display, .titleArea, .ec-base-product .title, .xans-product-1 .m_cate_ti, .xans-product-2 .m_cate_ti, .xans-product-3 .m_cate_ti, .title, .lookbook_title, .ec-base-tab .ss_menu, .xans-layout-productrecent .today_ti, .week_ti, #myshopMain .shopMain, .xans-myshop-orderhistorynologin, .xans-member-login, .xans-member-login .login fieldset input, .btnLogin, .ss_btn_con, .xans-product-additional, .xans-product-additional div.board, .xans-product-relation .relation, #de_info_toggle .detail_info_togg, .xans-product-detail .likeButton button span, .new_productSet, .xans-product-normalmenu, .xans-product-menupackage, .likeButton button span, .ec-base-box.searchbox, .xans-product-zoom.ss_btn_con, .xans-layout-searchheader #keyword, .btnNormal, .btnSubmit, .btnEm, .btnBasic, .sold_txt, .txt_con p, .txt_con span, .txt_con h3, .txt_con div, .txt_con ul, .txt_con li {
    font-family: 'Lato', 'Nanum Gothic', sans-serif !important;
}
body, code {
    font: 0.75em 'Lato', 'Nanum Gothic', 'Malgun Gothic', sans-serif !important;
    color: #333;
    background: #fff;
    letter-spacing: 0.4px;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.popup-content {
    position: relative;
    padding-top: 20px; /* 팝업창 위에 여백 추가 */
    /* 기타 스타일 */
}

.close-button {
    position: absolute;
    top: 5px;
    right: -30px; /* 닫기 버튼을 오른쪽 끝에 위치 */
    /* 필요에 따라 패딩, 마진 등을 추가하여 버튼의 위치를 미세 조정할 수 있습니다. */
}

.container {
    margin: 0 auto;
    clear: both;
    width: 100%;
    position: relative;
}

.maxwidth {
    margin: 0 auto;
    max-width: 1600px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

li {
    list-style: none;
}

.header {
    width: 100%;
}

/* top-bar + logo */
.inner {
    position: relative;
    width: 1200px;
    margin: 17px auto 0;
    font-size: 11px;
    line-height: 25px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

#lo_search {
    position: relative;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

#lo_sns {
    position: relative;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin: 10px 0 0 2px;  /* 상단 마진을 10px로 설정 */
}

.top-bar-center {
    margin: 20px 0 0px;
}

.top-bar-left {
    display: flex;
    gap: 15px;

    float: left;
    width: 45%;
    box-sizing: border-box;
    align-items: center;
}

.top-bar-right {
    display: flex;
    gap: 15px;

    float: right;
    width: 55%;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
}

.top-bar a {
    color: #111;
    text-decoration: none;
}

.top-bar-left a {
    margin-right: 20px;
}

.top-bar-right a {
    margin-left: 20px;
}

#header .m_top_menu01 {
    float: left;
    width: 45%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.logo {
    width: 250px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

body {
    font-family: 'NotoSansKr-Medium', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 1300px;
}

/* 메인 네비게이션 */
.main-nav {
    padding: 8px 0;
    width: 1200px;
    margin: 0 auto;
    height: 40px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #E2E2E2;  /* 검은색 라인 추가 */
}

.main-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.main-nav-li a {
    color: #111;
    text-decoration: none;
    font-size: 14px;
}


/* 메인 시작 */
.main-content {
    /*width: 50%;  !* 원하는 너비로 변경하세요 *!*/
    margin: 0 auto; /* 가운데 정렬 */
    padding: 0 100px; /* 양쪽에 고정된 공간 확보 */
    box-sizing: border-box; /* 패딩을 포함한 너비 */

    position: relative;
    width: 100%;
}

.ec-base-product .prdList {
    display: table;
    table-layout: fixed;
    box-sizing: border-box;
    width: 101.8%;
    min-width: 756px;
    margin: 0;
    font-size: 0;
    line-height: 0;
}


.items {
    clear: both;
    margin: 0px 0 0;
}

.h2-new {
    margin: 0px auto 35px;
}

.new-text {
    font-weight: normal;
    font-size: 16px;
    color: #222;
    margin: 0px auto;
    text-align: center;
    letter-spacing: 0.8px;
    word-spacing: 4px;
}

.total_right {
    float: right;
    width: 1100px;
    font-size: 11px;

    margin: 0;
    padding: 0;
}

ul #type {
    margin-inline-start: 0px;
    float: right;
    font-size: 11px;
}
#type li:first-child {
    background: none;
}
ul #type li {
    display: inline;
    line-height: 24px;
    color: #aaa;
    margin-left: 7px;
}

.All-item {
    display: flex;
    flex-direction: row; /* 항목들을 행 방향으로 배치 */
    justify-content: center; /* 주 축(여기서는 행 방향)을 따라 항목들을 중앙에 배치 */
    align-items: center; /* 교차 축(여기서는 열 방향)을 따라 항목들을 중앙에 배치 */
    flex-wrap: wrap; /* 필요한 경우 항목들을 여러 행으로 래핑 */
    margin: 10px auto; /* 상하 마진을 유지하면서 좌우 마진을 auto로 설정 */
    gap: 15px; /* 상품 간격을 고정값으로 설정 */
}

ul.grid4 > li {
    width: 24.9%;
}

.prdList {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    flex-wrap: wrap;
    gap: 15px; /* 상품 간격을 설정 */

    padding-inline-start: 0px;
}

.prdList > li {
    position: relative;
    display: inline-block;
    margin: 0;
    color: #757575;
    vertical-align: top;

    width: calc(25% - 15px); /* 4개가 한 줄에 들어가도록 너비 조정 */
    box-sizing: border-box;
}

.thumbnail {
    /*width: 288px;*/
    /*!* 새로 추가된 *!*/
    /*position: relative;*/
    /*overflow: hidden;*/

    position: relative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}

.sold_wrap span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: rgba(0, 0, 0, 0.8);
    padding: 0;
    width: 110px;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    line-height: 32px;
    transform: translate(-50%, -50%);
}

.thumbnail a {
    text-decoration: none;
    color: #000;
}

/* 상품 이미지 */
.thumbnail a img {
    max-width: 100%;
    width: 300px;  /* 이미지 너비를 200px로 설정 */
    height: 300px; /* 이미지 높이를 200px로 설정 */
    object-fit: cover; /* 이미지 비율을 유지하면서 지정된 너비와 높이에 맞게 조정 */
    box-sizing: border-box;
}

.thumbnail .over_bt_icon {
    display: inline-block;
}

/* 아이콘 */
.p_over_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.thumbnail:hover .p_over_icon {
    opacity: 1;
}

.over_bt_icon .cart {
    padding-top: 5px;
    padding-bottom: 5px;
}

.p_over_icon img {
    display: inline-block;
    z-index: 1;
    cursor: pointer;
    margin: 0 5px;
    position: relative;
    width: 24px;
    height: 24px;
}

.All-item img {
    vertical-align: middle;
}

.grid4t .icon {
    margin: 7px 0 0 0;
    vertical-align: middle;
}

/* 설명(상품명, 가격) */
.description {
    margin: 10px 0 30px 0;
    padding: 10px;
    text-align: center;
}
.description .color {
    overflow: hidden;
    margin: 0 0 7px;
    line-height: 0;
    /*font-size: 0;*/
    letter-spacing: 0;
}
.description .name {
    color: #222;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 5px;
    font-weight: normal;
    display: block;
    line-height: 1.6;
}
.thumbnail .price {
    margin: 10px 0 0 0;
    font-size: 20px;
    color: #e84660;
}
.xans-element- {
    padding-inline-start: 0px;
}


/*------------------------------*/

p {
    display: block;
    margin: 0;
}

#footer {
    width: 100%;
    margin: 100px auto 0;
    font-size: 12px;
    line-height: 1.9;
    color: #888;
    max-width: 4920px;
}

#footer .inner {
    position: relative;
    display: table;
    clear: both;
    width: 100%;
    background: #f8f8f8;
    padding: 85px 0 65px 0;
    margin: 75px auto 0;
}

#footer .inner_con {
    width: 1200px;
    margin: 0 auto;
}

/* inner_con01 */
#footer .inner_con01 {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

#footer .bottom_title {
    clear: both;
    font-weight: bold;
    margin-bottom: 7px;
    color: #111;
    letter-spacing: 1.5px;
}

#footer .bo_customer {
    clear: both;
}

#footer .cs_tel {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}

#footer .cs_line {
    float: left;
    line-height: 1.9;
    color: #aaa;
    padding: 0 10px;
}

#footer .cs_txt {
    float: left;
}

#footer .cs_txt2 {
    clear: both;
}

#footer .cs_txt2 strong {
    color: #333;
    letter-spacing: 0.8px;
    font-weight: normal;
}

#footer .bo_bank {
    clear: both;
    margin-top: 35px;
}

#footer .bottom_title_s {
    clear: both;
    font-weight: normal;
    margin-bottom: 2px;
    color: #111;
    letter-spacing: 1.5px;
    font-size: 11px;
}

#footer .bank_txt {
    float: left;
}

#footer .bo_delivery {
    clear: both;
    margin-top: 55px;
}
/* inner_con01 끝 */

#footer .inner_con2 {
    float: right;
    text-align: right;
    width: 50%;
    /*box-sizing: border-box;*/
}

#footer .bottom_title {
    clear: both;
    font-weight: bold;
    margin-bottom: 7px;
    color: #111;
    letter-spacing: 1.5px;
}

#footer .shop_info {
    line-height: 2;
}

#footer .shop_blank {
    padding-right: 15px;
}

#footer .shop_blank {
    padding-right: 15px;
}

#footer .inner a {
    color: #888;
}
