<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="/css/board.css">
</head>
<body>
<div class="container">
    <h1>게시판</h1>
    <div class="button-container">
        <a href="/question/create" class="btn-primary">질문 등록</a>
    </div>
    <div class="button-container">
        <a href="/main" class="btn-primary">메인페이지</a>
    </div>
    <table class="board-table">
        <thead>
        <tr>
            <th>No</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question : ${questionList}">
            <td th:text="${question.questionNo}"></td>
            <td><a th:href="@{/question/{questionNo}(questionNo=${question.questionNo})}" th:text="${question.questionTitle}"></a></td>
            <td th:text="${question.userName}"></td>
        </tr>
        </tbody>
    </table>

    <div class="pagination">
        <a th:if="${currentPage > 1}" th:href="@{/question(page=${currentPage - 1})}">&laquo; 이전</a>
        <span th:text="${currentPage}"></span>
        <a th:if="${questionList.size() == 10}" th:href="@{/question(page=${currentPage + 1})}">다음 &raquo;</a>
    </div>
</div>
</body>
</html>