<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문 등록</title>
    <link rel="stylesheet" href="/css/create-question.css">
</head>
<body>

<!-- 헤더 시작 -->
<div class="header">
    <div class="header-top">
        <div>
            <div>LOG-IN</div>
            <div>JOIN + 1,000</div>
            <div>MY PAGE</div>
            <div>ORDER</div>
            <div>CART_0</div>
        </div>
        <div>
            <div>NOTICE</div>
            <div>Q&A</div>
            <div>REVIEW</div>
            <div>EVENT</div>
        </div>
    </div>
    <div class="header-bottom">
        귀여운 로고
    </div>
</div>
<!-- 헤더 끝 -->

<div class="container">
    <h1>질문 등록</h1>
    <form action="#" th:action="@{/question/create}" th:object="${question}" method="post" enctype="multipart/form-data">
        <div class="form-group-row">
            <label for="questionTitle">제목</label>
            <input type="text" id="questionTitle" th:field="*{questionTitle}" required />
        </div>
        <!-- 작성자 부분 나중에 데이터 불러오는걸로 바꿔야함 (지금은 아직 안합쳐서 입력있음) -->
        <div class="form-group-row">
            <label for="username">작성자</label>
            <input type="text" id="username" name="username" th:value="${username}" required />
        </div>
        <div class="form-group-row" style="display: none">
            <label for="userNo">사용자 번호</label>
            <input type="text" id="userNo" name="userNo" th:value="${userNo}" required />
        </div>
        <div class="form-group-row">
            <label for="questionContent">내용</label>
            <textarea id="questionContent" th:field="*{questionContent}" rows="10" required></textarea>
        </div>
        <div class="form-group-row">
            <label for="file">첨부 파일</label>
            <input type="file" id="file" name="file" accept=".pdf,.doc,.docx,.jpg,.png" required multiple />
        </div>
        <div class="form-group-row">
            <button type="submit" class="btn-primary">등록</button>
            <button type="reset" class="btn-primary" style="background-color: #ccc; margin-left: 10px;" onclick="redirectToQuestion()" >취소</button>
        </div>
    </form>
</div>

<!-- footer 시작 -->
<div id="footer">
    <div class="inner">
        <div class="inner_con">

            <div class="inner_con01">
                <p class="bottom_title">CS CENTER</p>
                <div class="xans-element- xans-layout xans-layout-footer bo_customer "><!-- 고객센터정보 수정 -->
                    <p class="cs_tel">T. 010-8332-4726</p>
                    <p class="cs_txt">OPEN PM 14:00 - PM 20:00</p>
                    <span class="cs_line"> / </span>
                    <p class="cs_txt">월요일 휴무</p>
                    <p class="cs_txt2">KAKAOTALK
                        <strong> @ DAPALA </strong>
                    </p>
                    <!-- // 고객센터정보 수정 -->
                </div>

                <div class="bo_bank">
                    <p class="bottom_title_s">BANK INFO</p>
                    <!-- 은행정보 수정 -->
                    <p class="bank_txt">카카오뱅크 3333-10-6021763</p>
                    <span class="cs_line"> / </span>
                    <p class="bank_txt">예금주명 ( 서영호 )</p>
                    <!-- // 은행정보 수정 -->
                </div>
                <div class="bo_delivery">
                    <p class="bottom_title_s">DELIVERY &amp; RETURN</p>
                    <div>
                        <p>한진택배 1588-0011 [ 배송조회 ]</p>
                        <p>반품주소 : 아산시 용화고길30번길 20-5 1층 DAPALA</p>
                    </div>
                </div>
            </div>
            <!-- inner_con01 끝 -->

            <!-- inner_con02 시작 -->
            <div class="inner_con2">
                <p class="bottom_title">SHOP INFO</p>
                <div class="xans-element- xans-layout xans-layout-footer shop_info">
                    <p>Company. DAPALA
                        <span class="shop_blank"></span> Owner. 서영호
                    </p>
                    <p>Business License. 712-35-00653</p>
                    <br><p>Tel. 010-8332-4726</p>
                    <p>Master. 서영호<span class="shop_blank"></span>E-mail. Ho@naver.com</p>
                    <p>Add. 31572 부산광역시 부산진구 (영호동)</p>
                    <p>1층</p>
                </div>
            </div>
            <!-- inner_con02 끝 -->
        </div>
    </div>
</div>
<!-- footer 끝 -->

<script>
    function redirectToQuestion() {
        window.location.href = "/question";
    }
</script>
</body>
</html>