<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/admin_vars.css}" />
    <link rel="stylesheet" th:href="@{/css/admin.css}" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }

      menu,
      ol,
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="div">
      <div class="admin-side-bar">
        <div class="sales-manage">
          <div class="sales">
            <div class="div2">매출</div>
          </div>
          <div class="acm">
            <img class="bill" src="/images/admin/bill0.png" />
            <div class="div3">누적 결제 금액</div>
          </div>
          <div class="rank">
            <img class="vip" src="/images/admin/vip0.png" />
            <div class="div4">등급 분류</div>
          </div>
        </div>
        <div class="product">
          <div class="prod-manage">
            <div class="div2">상품 관리</div>
          </div>
          <a class="prod-list" href="./prodlist">
            <img class="list" src="/images/admin/list0.svg" />
            <div class="div3">상품 리스트</div>
          </a>
          <div class="order-list">
            <img class="order-history" src="/images/admin/order-history0.png" />
            <div class="div4">주문 내역</div>
          </div>
          <a class="prod-list" href="./questionlist">
            <img class="image-3" src="/images/admin/image-30.png" />
            <div class="div3">문의내역</div>
          </a>
        </div>
        <div class="member">
          <div class="member-manage">
            <div class="div5">회원 관리</div>
          </div>
          <a class="admin" href="./userlist">
            <img class="image-1" src="/images/admin/image-10.png" />
            <div class="div3">사용자</div>
          </a>
          <a class="admin" href="./adminlist">
            <img class="image-2" src="/images/admin/image-20.png" />
            <div class="div3">관리자</div>
          </a>
        </div>
        <div class="admin-welcome"><span th:text="${userName}+ '님, 환영합니다'"></span></div>
      </div>
      <div class="all-user-frame">
        <div class="all-user">
          <div class="_5">전체 상품 (<span th:text="${productNoCount}" ></span>)</div>
        </div>
        <div class="_6">
          <a th:href="@{/prod/insert}">
            <button type="button">새 상품 등록하기</button>
          </a>
        </div>
        <div class="table-head">
          <div>제품 번호</div>
          <div>제품 상태</div>
          <div>카테고리 이름</div>
          <div>제품 이름</div>
          <div>제품 설명</div>
          <div>제품 가격</div>
          <div>제품 이미지 이름</div>
          <div>제품 이미지 경로</div>
          <div>옵션</div>
        </div>
        <div class="user-frame"th:each="products : ${prods}">
          <div th:text="${products.productNo}">1</div>
          <div th:text="${products.productCondition}">판매 예정</div>
          <div th:text="${products.categoryName}">산티오</div>
          <div th:text="${products.productName}">1111</div>
          <div th:text="${products.productContent}">1111</div>
          <div th:text="${products.productPrice}">11111</div>
          <div th:text="${products.productImageName}">11111</div>
          <div th:text="${products.productImagePath}">11111</div>
          <div>
            <a th:href="@{/prod/update/{id}(id=${products.productNo})}">
            <button type="button">수정</button>
          </a>
            <form th:action="@{/prod/delete/{id}(id=${products.productNo})}" method="post">
              <button type="submit" onclick="return confirm('정말로 삭제합니까?')">삭제</button>
            </form>
          </div>
        </div>
      </div>
      <div class="header">
        <div class="logo">
          <a href="./userlist">
            <img
                    class="_2-removebg-preview-1"
                    src="/images/admin/_2-removebg-preview-10.png"
            />
          </a>
          <a href="./userlist">
            <img
                    class="_3-removebg-preview-1"
                    src="/images/admin/_3-removebg-preview-10.png"
            />
          </a>
        </div>
        <div class="navigation">
          <div class="dropdown">
            <div class="label">사용자</div>
            <img class="chevron-down" src="/images/admin/chevron-down0.svg" />
          </div>
          <div class="textfield">
            <div class="text">검색어를 입력하세요</div>
            <img class="ic-search" src="/images/admin/ic-search0.svg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
