<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myapp.team.cart.CartMapper">

  <select id="findCartsByUserNo" resultType="com.myapp.team.cart.Cart">
    SELECT * FROM cart WHERE user_no = #{userNo}
  </select>
<!--  <insert id="insertCart">-->
<!--    INSERT INTO cart (user_no, product_name, product_price, options)-->
<!--    VALUES (#{userNo}, #{productName}, #{productPrice}, #{options})-->
<!--  </insert>  -->
  <insert id="insertCart">
    INSERT INTO cart (user_no, product_name, product_price, cart_count)
    VALUES (#{userNo}, #{productName}, #{productPrice}, #{cartCount})
  </insert>
  <select id="findAllCartItem">
    SELECT product_no, product_name, product_price, product_image_name, product_image_path
    FROM PRODUCTS
  </select>
  <update id="updateCart">
    UPDATE cart SET product_name = #{productName}, product_price = #{productPrice},
                    options = #{options}, cart_count = #{cartCount} WHERE cart_no = #{cartNo}
  </update>
  <delete id="deleteCart">
    DELETE FROM cart WHERE cart_no = #{cartNo}
  </delete>
</mapper>